{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
	"parserOptions": {
		"project": "./tsconfig.json"
	},
  "globals": {
    "__PATH_PREFIX__": true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ]
}
